@model IEnumerable<Skylakias.Models.Service>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<table class="table">
    
    <tr>
        <th>Services</th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    @{ foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(model => item.Name) </td>
                <td> @Html.DisplayFor(model => item.Price) </td>
                <td> @Html.ActionLink("Add to Order", "Create", new { id = item.Id }) </td>
            </tr>
        }
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
